.error {
	border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}
.success {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
.appended-text {
	position: absolute;
	color: #fff;
	font-size: 16px;
	padding: 10px 20px;
	background-color: #ff4c4c;
	border-radius: 5px;
	margin-left: 45px;
}